:root {
    --clr-white: #F9FAF9;
    --clr-secondary-300: #2C272E;
}

@font-face {
    font-family: roboto-regular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: var(--clr-secondary-300);
    color: var(--clr-white);

    font-family: roboto-regular, Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.split--center {
    justify-content: center;
    align-items: center;
}

.split--left {
    justify-content: left;
}

.split {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

@media (min-width: 68.75rem) {
    .split {
      flex-direction: row;
    }
  
    .split > * {
      flex-basis: 100%;
    }
  
    .split > * + * {
      margin-left: 2em;
    }

    .container {
        height: 100%;
    }
}

.game-window {
    /* text-align: center; */
}

.center-align {
    /* text-align: center; */
}

.header-text {
    font-family: roboto-bold;
    font-size: 5rem;
}

.status-text {
    padding: 0;
    margin: 0;
}

.status-text--bold {
    font-family: roboto-bold;
}

.game {
    position: relative;
    left: 100px;
}

.game-controls {
    position: relative;
    right: 100px;
}

.score {
    font-size: 2rem;
    margin: 0;
}

.score-number {
    font-family: roboto-bold;
}

.score--color {
    color: #A55C1A;
}

.id-text {
    font-family: roboto-bold;
    font-size: large;
}

input[type=text] {
    border: 1px solid #549f63;
    padding-left: 0.5rem;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

    width: 250px;
    height: 40px;
    border-radius: 20px;
}

input:focus {
    -webkit-appearance: none;
    outline: none;
    border-color: #A55C1A;
}

button {
    border: 0;
    padding: 12px 16px;
    color: white;
    border: 1px solid #549f63;
    background-color: #549f63;
    border-radius: 20px;
    font-family: roboto-bold;
}

button:hover {
    color: #549f63;
    background-color: transparent;
    border: 1px solid #549f63;
}

canvas {
    width: 100%;
    height: 100%;
}